@import '_mixins';

table {
  border: solid #36424e 10px;
  td {
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    p {
      text-align: center;
      margin: 0px;
      font-size: 30px;
      &.south {
        transform: rotate(-180deg);
      }
      &.west {
        transform: rotate(-90deg);
      }
      &.east {
        transform: rotate(-270deg);
      }
    }
    span {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 0 4px 4px;
      font-size: 6 + px;
    }
    @include mobile {
      min-width: 40px;
      width: 40px;
      height: 40px;
      p {
        font-size: 20px;
      }
    }
  }
}

table tr:nth-child(odd) td:nth-child(even) {
  background: #a7b1bb;
}
table tr:nth-child(even) td:nth-child(odd) {
  background: #a7b1bb;
}
