@import '_mixins';

section {
  display: flex;
  margin: 2vw;
  > * {
    display: flex;
    justify-content: center;
    height: max-content;
    padding: 2vw;
    flex-basis: 0;
    flex-grow: 1;
  }
  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-wrap: wrap;
  }
}
