h1 {
  font-family: 'Pacifico';
}

h5 {
  font-variant: small-caps;
  color: darkgray;
}

section {
  height: 300px;
  max-height: 270px;
  overflow-y: scroll;
  ion-list {
    --ion-item-background: transparent;
  }
  p {
    text-transform: capitalize;
    color: darkgray;
  }
}
