<ion-item class="psControl">
  <ion-label
    *ngIf="label"
    [position]="position"
    [innerHTML]="label"
  ></ion-label>
  <ion-input
    #psControl
    [formControl]="control"
    [name]="key"
    [type]="hide ? 'password' : inputType === 'password' ? 'text' : inputType"
    [placeholder]="placeholder"
    (focus)="focused$.next(true)"
    (blur)="focused$.next(false)"
    [attr.autocomplete]="autoComplete"
    [attr.spellcheck]="spellCheck"
    [attr.maxlength]="length ? length : null"
  ></ion-input>
  <div *ngIf="hint || (!silent && !silentHint)" class="hint">
    <ng-container *ngIf="control.dirty && error && !focused; else hintTemplate">
      <span
        *ngIf="control.dirty && error && !focused"
        [innerHTML]="error"
        class="error"
      ></span>
    </ng-container>
    <ng-template #hintTemplate>
      <span *ngIf="hint" [innerHTML]="hint"></span>
    </ng-template>
  </div>
</ion-item>
