/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@import '_mixins';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  box-sizing: border-box;
}

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-item-group {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  border: 1px solid #eceff4;
  border-radius: 5px;
  padding: 4px 16px 16px 16px;
  margin-bottom: 16px;
  min-width: 330px;
  div {
    display: flex;
    justify-content: space-between;
    > ps-input,
    ps-select {
      width: 47%;
    }
    &.numerics {
      > ps-input,
      ps-select {
        width: 30%;
      }
    }
  }

  @include tablet {
    width: 100%;
  }

  @include mobile {
    max-width: 330px;
  }
}
